<h1>Student Dashboard</h1>

<div style="margin-bottom: 25px; border: 1px solid #ddd; padding: 15px; border-radius: 5px;">
    <%= link_to "List of available Courses to purchase", student_courses_to_purchase_path %>
    <br><br>
    <%= link_to "List of available Terms to purchase", student_terms_to_purchase_path %>
</div>

<div style="margin-bottom: 25px; border: 1px solid #ddd; padding: 15px; border-radius: 5px;">
    <h3>My school:</h3>
    <p><%= @student.school.name %></p>
</div>

<div style="margin-bottom: 25px; border: 1px solid #ddd; padding: 15px; border-radius: 5px;">
    <h3>My Purchased Courses (<%= @student.course_purchases.count %>):</h3>
    <% if @student.course_purchases.any? %>
    <% @student.course_purchases.order(:purchased_at).each do |course_purchase| %>
        <strong><%= course_purchase.course.name %></strong>
        <% if @student.enrollments.where(course: course_purchase.course).empty? %>
            | <%= button_to "Enroll in course", student_enroll_in_course_path(course_purchase.course.id), method: :post, form: { style: 'display: inline;' } %>
        <% end %>   
        <br>
        <small>
            Term: <%= course_purchase.course.term.name %> | 
            Purchased: <%= course_purchase.purchased_at.strftime("%B %d, %Y") %>
        </small>
        <div style="margin-bottom: 15px;"></div>
    <% end %>
    <% else %>
    <p><em>No courses purchased yet.</em></p>
    <% end %>
</div>

<div style="margin-bottom: 25px; border: 1px solid #ddd; padding: 15px; border-radius: 5px;">
    <h3>My Enrolled Courses (<%= @student.enrollments.count %>):</h3>
    <% if @student.enrollments.any? %>
    <% @student.enrollments.order(:enrolled_at).each do |enrollment| %>
        <strong><%= enrollment.course.name %></strong>
        <br>
        <small>
        Term: <%= enrollment.course.term.name %> | 
        Enrolled: <%= enrollment.enrolled_at.strftime("%B %d, %Y") %>
        </small>
        <div style="margin-bottom: 15px;"></div>
    <% end %>
    <% else %>
    <p><em>Not enrolled in any courses yet.</em></p>
    <% end %>
</div>