<h1>Student Dashboard</h1>

<p><%= link_to "List of available Courses to purchase", student_courses_to_purchase_path %></p>
<%= link_to "List of available Terms to purchase", student_terms_to_purchase_path %>

<h3>My school:</h3>
<p><%= @student.school&.name || "No school assigned" %></p>

<h3>My Purchased Courses (<%= @student.purchased_enrollments.count %>):</h3>
<% if @student.purchased_enrollments.any? %>
  <% @student.purchased_enrollments.order(:purchased_at).each do |enrollment| %>
      <strong><%= enrollment.course.name %></strong>
      <% if enrollment.enrolled_at.nil? %>
         | <%= button_to "Enroll in course", student_enroll_in_course_path(enrollment.id), method: :post, form: { style: 'display: inline;' } %>
      <% end %>
      <br>
      <small>
        Term: <%= enrollment.course.term.name %> | 
        Purchased: <%= enrollment.purchased_at.strftime("%B %d, %Y") %>
      </small>
      <div style="margin-bottom: 15px;"></div>
  <% end %>
<% else %>
  <p><em>No courses purchased yet.</em></p>
<% end %>

<h3>My Enrolled Courses (<%= @student.enrolled_enrollments.count %>):</h3>
<% if @student.enrolled_enrollments.any? %>
  <% @student.enrolled_enrollments.order(:enrolled_at).each do |enrollment| %>
    <strong><%= enrollment.course.name %></strong>
    <br>
    <small>
      Term: <%= enrollment.course.term.name %> | 
      Enrolled: <%= enrollment.enrolled_at.strftime("%B %d, %Y") %>
    </small>
    <div style="margin-bottom: 15px;"></div>
  <% end %>
<% else %>
  <p><em>Not enrolled in any courses yet.</em></p>
<% end %>