<h1>Available Terms to Purchase</h1>

<% if @terms.any? %>
<% @terms.each do |term| %>
  <div style="margin-bottom: 25px; border: 1px solid #ddd; padding: 15px; border-radius: 5px;">
    <h3><%= term.name %></h3>
    
    <h4>Courses in this term:</h4>
    <ul style="margin-bottom: 15px;">
      <% term.courses.each do |course| %>
        <li><%= course.name %></li>
      <% end %>
    </ul>
    <%= button_to "Purchase with credit card", student_purchase_term_with_credit_card_path(term), method: :post, form: { style: 'display: inline;' } %>
    <%= form_with url: student_purchase_term_with_license_code_path(term), method: :post, local: true, style: "display: inline;" do |form| %>
      <%= form.hidden_field :term_id, value: term.id %>
      <%= form.text_field :license_code, placeholder: "Enter license code", style: "margin-right: 10px; margin-top: 15px; padding: 5px; border: 1px solid #ccc; border-radius: 3px;" %>
      <%= form.submit "Purchase with license code", style: "display: inline;" %>
    <% end %>
  </div>
  <% end %>
<% else %>
  <div style="margin-bottom: 25px; border: 1px solid #ddd; padding: 15px; border-radius: 5px;">
    <p><em>No terms available to purchase.</em></p>
  </div>
<% end %>